* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
    
  html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
  }


body{
    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.feedback-form{
    width: 100%;
    height: 100%;
    
}
.form-area{
     margin-top: 20px;
    background-color: white;
    width: 750px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    padding-bottom: 4px;
    border-radius: 10px;
    border: solid 5px #33ceff;
    border-left: 0;
    border-right: 0;
    z-index: 5;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
h1{
    font-size: 28px;
    color: #31bb92;
    font-weight: 700;
    margin-bottom: 20px;
}
p{
    font-size: 14px; 
    font-weight: 600; 
    color: #383838;
    margin: 15px 0;   
}
span{
    font-size: 14px; 
    font-weight: 600; 
    color: #383838;
    margin-right: 4px;
   
}
input,select{
    margin-top: 5px;
    padding: 4px;
    margin: 10px 0;
    font-size: 14px; 
    font-weight: 600; 
    color: #383838;
    outline: none;
    border: solid 1px #8d8a8a ;
    border-radius: 5px ;
}
select{
    margin: 0px;
    margin-bottom: 10px;
}
textarea{
    margin-top: 3px;
    font-size: 16px; 
    font-weight: 600; 
    color: #383838;
    outline: none;
    padding: 2px 4px;
    border: solid 1px #8d8a8a ;
    border-radius: 5px ;
}
input::placeholder{
    font-size: 12px; 
    font-weight: 600; 
    color: #8d8a8a;
    margin-right: 4px;
}
input:focus,textarea:focus{
    outline: none;
    border-color: #31bb92;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%), 0 0px 10px 0 rgb(0 0 0 / 19%);
}
textarea::placeholder{
    font-size: 14px; 
    font-weight: 600; 
    color: #8d8a8a;
    margin-right: 4px;
}
label{
    font-size: 14px; 
    font-weight: 600; 
    color: #383838;
    margin-bottom: 10px;
}
h3{
    font-size: 16px;
    font-weight: 700;
    color: #383838;
    margin-top: 15px;
    line-height: 10px;
}

.btn{
    padding: 6px 20px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    transition: all .4s;
}
.btn:hover{
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%), 0 0px 10px 0 rgb(0 0 0 / 19%);
    transition: all .4s;
}
.btn-submit{
    background-color: #2ebf91;
    transition: all .4s;
}
.btn-submit:hover{
    background-color: #29a77f;
    transition: all .4s;
}
.btn-reset{
    background-color: crimson;
    transition: all .4s;
}
.btn-reset:hover{
    background-color: rgb(182, 17, 50);
    transition: all .4s;
}

h5{
    text-align: right;
    margin-top: 0px;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 900;
    color: #2ebf91;
}